#about {
  margin: 0px 20px;
  text-align: center;
}

#about > h2 {
  margin: 20px;
}

@media (min-width: 600px) {
  #about {
    margin: 0px;
    text-align: left;
  }
  #about > h2 {
    margin-left: 0px;
  }
  #about > p {
    margin-right: 20px;
  }
}

@media (min-width: 900px) {
  #about {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}
