#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  text-align: center;
}

#contact > *:not(p) {
  width: 100%;
}

#contact > h2 {
  margin: 20px;
}

#contact .contact-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 40px;
}

#contact .contact-options > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  border-radius: 4px;
}

#contact .contact-options > a > li {
  color: var(--verde-1);
  text-wrap: nowrap;
}

@media (min-width: 600px) {
  #contact {
    text-align: center;
  }
  #contact > p {
    width: 70%;
  }
  #contact .contact-options {
    flex-direction: row;
    margin-top: 40px;
  }

  #contact .contact-options > a {
    padding: 0px 24px;
    border-radius: 8px;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  #contact {
    margin: 0px 20px 0px 0px;
    text-align: left;
  }

  #contact > p {
    width: 100%;
  }

  #contact .contact-options {
    margin-top: 40px;
    flex-direction: row;
  }
  #contact .contact-options > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 0px 12px;
    margin: 0px;
  }
}
