/* Hover effects */

a {
  padding: 0px;
  margin: 0px;
  transition: 1s;
}
.showcase > a {
  background-color: var(--negro-2);
}
a:hover {
  background-color: greenyellow;
  scale: 1.04;
  transition: 0.2s;
}

a:hover * {
  color: black !important;
}

@keyframes borderColorShift {
  0% {
    border-color: white;
  }
  50% {
    border-color: greenyellow;
  }
  100% {
    border-color: white;
  }
}

@keyframes rotateBox {
  0% {
    rotate: 0.2deg;
  }
  50% {
    rotate: -0.2deg;
  }
  100% {
    rotate: 0.2deg;
  }
}

#projects {
  border-top-color: var(--verde-1);
}

#projects .project {
  animation: borderColorShift 2s infinite;
}

#projects a {
  animation: rotateBox 2s infinite;

}

#footer {
  border-top-color: var(--verde-1);
}
