:root {
  --negro-1: black;
  --negro-2: #111111;
  --verde-1: greenyellow;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: white;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  position: absolute;
  background-color: var(--negro-1);
  display: grid;
  grid-template-areas:
    "header"
    "about"
    "contact"
    "projects"
    "footer";

  grid-template-columns: 100vw;
  grid-template-rows:
    auto auto auto auto
    auto;
  justify-items: center;
  align-items: center;
  max-width: 1600px;
}

h1,
h2,
h3 {
  color: var(--verde-1);
}

#header {
  grid-area: header;
}

#about {
  grid-area: about;
}

#projects {
  grid-area: projects;
}

#contact {
  grid-area: contact;
}

#footer {
  grid-area: footer;
}

@media (min-width: 600px) {
  body {
    grid-template-areas:
      "header about about"
      "contact contact contact"
      "projects projects projects"
      "footer footer footer";
    grid-template-columns: 47vw auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media (min-width: 900px) {
  body {
    grid-template-areas:
      "header about about"
      "header contact contact"
      "projects projects projects"
      "footer footer footer";
    grid-template-columns: 350px auto auto;
    grid-template-rows: auto auto auto auto;
  }

}

@media (min-width: 1400px) {
  body {
    grid-template-areas:
      "header about contact"
      "header about contact"
      "projects projects projects"
      "footer footer footer";
    grid-template-columns: 400px auto 550px;
    grid-template-rows: auto auto auto auto;
  }
}
