#projects {
  border-top: 1px solid white;
  margin: 0px 20px;
}

#projects > h2 {
  text-align: center;
  margin: 20px 0px;
  font-size: 48px;
}

#projects > .showcase {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 20px;
}

#projects > .showcase > a > .project {
  display: grid;
  text-align: center;
  border: 1px solid white;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title title"
    "img img"
    "info info" !important;
}

#projects > .showcase > a > .project > h3 {
  grid-area: title;
  font-size: 28px;
  padding: 20px;
  padding-bottom: 0px;
}
#projects > .showcase .project > img {
  grid-area: img;
  padding: 20px;
  width: 100%;
  height: auto;
}
#projects > .showcase .project > p {
  font-size: 18px;
  grid-area: info;
  padding: 0px 20px;
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  #projects > .showcase {
    display: grid;
    grid-template-columns: auto auto;
  }
  #projects > .showcase > a > .project {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title"
      "img img"
      "info info" !important;
    height: 450px;
  }
}
@media (min-width: 700px) {
  #projects > .showcase > a > .project {
    height: 550px;
  }
}

@media (min-width: 900px) {
  #projects {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #projects > .showcase {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
  }
  #projects > .showcase .project {
    align-items: center;
    grid-template-columns: 33vw;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title"
      "img img"
      "info info" !important;
  }

  #projects > .showcase .project > img {
    grid-area: img;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
  }

  #projects > .showcase .project > h3 {
    grid-area: title;
  }

  #projects > .showcase .project > p {
    grid-area: info;
  }
}
